<app-base-card [width]='width' [active]='active' *ngIf='card'>
    <div class='content scheme-secondary-bg'>
        <h1 [innerHtml]='safeTitle'></h1>
        <p [innerHtml]='safeContent'></p>    
        <a class='link' [href]='card["extra-info-link"]' *ngIf='card["extra-info-link"]' target="_blank" [attr.aria-label]='"פתיחת אתר " + card["extra-info-link-title"] || card["extra-info-link"] + " בטאב חדש"'>
            <span>{{ card["extra-info-link-title"] || card["extra-info-link"]}}</span>
            <img src='assets/img/external-link-icon.svg' alt='אייקון קישור חיצוני'>
        </a>
    </div>
</app-base-card>