<div class='chat'>
  <div class='bott'>
    <img src='assets/img/bot-hi.png' class='layout-desktop'>
  </div>
  <htl-hatool [content]='content' *ngIf='content' appLtr></htl-hatool>
</div>
<app-widget-stacks-button></app-widget-stacks-button>
<app-widget-map></app-widget-map>
<app-widget-stack></app-widget-stack>
<app-widget-more-info-chat></app-widget-more-info-chat>
<app-widget-open-button></app-widget-open-button>

<app-widget-stacks-overview></app-widget-stacks-overview>
<app-widget-stacks-detail></app-widget-stacks-detail>

<app-widget-sidepage-main></app-widget-sidepage-main>
<app-widget-sidepage-about></app-widget-sidepage-about>
<app-widget-sidepage-eula></app-widget-sidepage-eula>
<app-widget-sidepage-privacy></app-widget-sidepage-privacy>
<app-widget-sidepage-contact></app-widget-sidepage-contact>
<div style='display:none;' #fixMe>
  <span>תיקון</span>
  <img src='assets/img/fixme.svg'>
</div>