<app-base-card [width]='width'>
    <div class='content scheme-primary-bg'>
        <div class='owner'>
            <app-owner-profile-photo [owner]='stack.owner' [size]='48' [borderWidth]='2' borderColor='#2C3C3B'></app-owner-profile-photo>
            <div class='deets'>
                <span class='name'>{{stack.owner.name}}</span>
                <span class='title'>{{stack.owner.title}}</span>
            </div>
        </div>
        <div class='title'>
            <h1 [innerHtml]='params.__runner.fillIn(stack.title)'></h1>
            <h2 [innerHtml]='params.__runner.fillIn(stack.subtitle)'></h2>
        </div>
        <div class='tags'>
            <span class='tag scheme-primary-fg' *ngFor='let tag of stack.tags'>{{tag}}</span>
        </div>
    </div>
</app-base-card>