<div class='button' (activated)='openOverview()' [class.active]='active' clickOnReturn
     [attr.aria-label]='"צפיה ב-" + stacks.stack_visible_count + " חפיסות הכרטיסים שנאספו"'
     [attr.aria-hidden]='stacks.stack_visible_count ? "false" : "true"'>
    <div class='minicards'>
        <div class='minicard bg'></div>
        <div class='minicard fg'>{{ stacks.stack_visible_count }}</div>
        <div style='display: none;'  aria-live='polite'>{{stacks.stack_visible_count}} חפיסות נאספו</div>
    </div>
</div>
<div class='animated'
    [class.active]='newStackAnimation === true'
    [class.close]='newStackAnimation === false'
>
    <div class='minicards'>
        <div class='minicard bg'></div>
        <div class='minicard fg'></div>
    </div>
</div>

<ng-container *ngIf='stacks.discovery && stacks.visible'>
    <img class='discovery' src='assets/img/cart-discovery.svg' (activated)='removeDiscovery()' clickOnReturn role='presentation' aria-hidden='true'>
    <span class='discovery-text'>החפיסות שאספת מחכות לך כאן</span>
</ng-container>
