<app-widget-sidepage-base page='main' [limitWidth]='true'>
    <h1>שער לעסקים</h1>
    <img class='logo-full' src='assets/img/bot-say.png'>
    <h2><a [routerLink]='[]' fragment='about'>אודות</a></h2>
    <h2><a [routerLink]='[]' fragment='contact'>צרו קשר</a></h2>
    <h2><a [routerLink]='[]' fragment='privacy'>מדיניות פרטיות</a></h2>
    <h2><a [routerLink]='[]' fragment='eula'>תנאי שימוש</a></h2>
    <div class='logos'>
        <img src='assets/img/beersheba.svg'>
        <img src='assets/img/yeadim.svg'>
        <img src='assets/img/movilim.png'>
        <img src='assets/img/pkw.svg'>
    </div>
</app-widget-sidepage-base>