<app-widget-sidepage-base page='main'>
    <h1>שער לעסקים</h1>
    <img class='logo-full' src='assets/img/bot-say.png'>
    <h2 (click)='select("about")'>אודות + קרדיטים</h2>
    <h2 (click)='select("contact")'>צרו קשר</h2>
    <h2 (click)='select("privacy")'>מדיניות פרטיות</h2>
    <h2 (click)='select("eula")'>תנאי שימוש</h2>
    <div class='logos'>
        <img src='assets/img/beersheba.svg'>
        <img src='assets/img/yeadim.svg'>
        <img src='assets/img/pkw.svg'>
    </div>
</app-widget-sidepage-base>